<form [formGroup]="paymentSearchForm">

    <div class="row g-3 align-items-end my-3">

        <!-- Create Button -->
         <div *ngIf="isAdmin" class="col-12 col-lg-3">
            <button
                type="button"
                class="btn btn-success w-100"
                (click)="studentcreate()">
                <i class="bi bi-plus-circle"></i>
                Create Student
            </button>
        </div>
       

        <!-- Search Box -->
        <div class="col-12 col-lg-7">
            <input
                type="text"
                class="form-control"
                formControlName="searchText"
                placeholder="Search by Invoice No,Student Name, amount...">
        </div>

        <!-- Search Button -->
        <div class="col-12 col-lg-2">
            <button
                type="button"
                class="btn btn-primary w-100"
                (click)="searchPayments()">
                <i class="bi bi-search"></i>
                Search
            </button>
        </div>

    </div>

</form>

<div *ngIf="loading" class="text-center py-5">
    <div class="spinner-border text-primary"></div>
    <div class="mt-2">
        Loading Students...
    </div>
</div>


<div class="table-responsive" *ngIf="!loading">

            <table class="table table-bordered table-hover">

                <thead class="table-light">

                <tr>
                    <th>#</th>
                    <th>Student Name</th>
                    <th>Invoice Number</th>
                    <th>Amount</th>
                    <th>Reference</th>
                    <th>Mode</th>
                </tr>

                </thead>

                <tbody>

                <tr *ngFor="let payment of payments; let i=index">

                    <td>{{i+1}}</td>

                    <td>{{payment.studentName}}</td>

                    <td>{{payment.invoiceNumber}}</td>

                    <td class="text-end">
                        {{payment.amount | currency:'INR'}}
                    </td>

                    <td>{{payment.transactionReference}}</td>

                    <td>{{payment.paymentMode}}</td>

                </tr>

               

                </tbody>

            </table>
</div>


<div class="d-flex flex-column flex-md-row justify-content-between align-items-center mt-3">

    <button
        class="btn btn-secondary mb-2 mb-md-0"
        [disabled]="page==0"
        (click)="previousPage()">
        <i class="bi bi-arrow-left"></i>
        Previous
    </button>

    <span class="fw-bold mb-2 mb-md-0">
        Page {{page+1}} of {{totalPages}}
    </span>

    <button
        class="btn btn-secondary"
        [disabled]="page+1>=totalPages"
        (click)="nextPage()">
        Next
        <i class="bi bi-arrow-right"></i>
    </button>

</div>